@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

h1, h2, h3, h4, h5, h6, p, nav, body, hr {
  padding:0;
  margin:0;
}

body{
  overflow-x: hidden;
  background-color: #999;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap{
  padding-bottom:5rem;
}

#footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
}

.footer-text {
  text-decoration: none;
  color: #eee;
  font-size:16px;
}

.nav-image{
  width:100%;
  height:100vh;
  background-image: url(images/crypto-website-image.jpg);
}

nav {
  width:80%;
  height:10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 0 1rem 0 1rem;
}

.nav-brand {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  font-size: 36px;
}

.nav-links {
  padding-left: 10px;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav-links a {
  text-transform: uppercase;
  text-decoration: none;
  color:#ddd;
  font-size: 28px;
}

.nav-burger {
  display: none;
  position: absolute;
  right: 25px;
  cursor: pointer;
}

.nav-burger div {
  background-color:white;
  height: 3px;
  width:30px;
  margin:5px;
  border-radius: 4px;
  transition: all 0.3s ease-in;
}

.options-container {
  margin:7rem auto auto auto;
  width:70%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 20px;
}

.option {
  width: 300px;
  border: 1px solid #eee;
  background-color: rgba(10, 10, 10, 0.4);
}

.option-title {
  padding: 20px 10px 20px 10px;
  color:white;
  font-weight: bold;
}

.option-description{
  color:#ddd;
  padding: 0px 10px 20px 10px;
}

.option-features {
  padding-inline-start: 0;
  padding:0 10px 10px 10px;
  margin-block:none;
  margin: none;
  color:white;
}

.option-features li{
  list-style: none;
  margin: none;
  padding:15px 0 15px 0;
  border-bottom: 1px solid #ddd;
}

.option-features li:last-child {
  border:none;
}

.option-row{
  color:white;
  width: 100%;
}

.option-price {
  color:white;
  font-weight: bold;
  padding: 20px 0 20px 20px;
}

.contents {
  margin:auto;
  padding: 10rem 0 2rem 0;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.content-container {
  width: 40%;
  font-size: 24px;
}

.content-header {
  color:white;
  font-weight:bold;
}

.content-body {
  color:#eee;
}

.contact-container {
  font-size: 25px;
  width:50%;
  padding:20px;
}

.contact-title {
  color:white;
  font-weight: bold;
  margin-bottom:2rem;
}

.start-now-container {
  font-size: 25px;
  width:50%;
  padding:20px;
}

.start-now-title {
  color:white;
  font-weight: bold;
  margin-bottom:2rem;
}

.user-form {
  width: 100%;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.user-form input[type='text']{
  margin: 0 0 40px 0;
  color:#222;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  border:none;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  font-size: 20px;
  height: 2rem;
  width:75%;
}

.user-form input[type='textarea']{
  margin: 10px 0 10px 0;
  color:#222;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  border:none;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  font-size: 20px;
  width:75%;
  height: 7rem;
}

.user-form input[type='submit'] {
  background: none;
  font-family: 'Roboto', sans-serif;
  color:white;
  border:1px solid white;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
}
.user-form input[type='submit']:hover {
  color:#999;
  background-color: white;
}

.user-form select {
  background: none;
  font-family: 'Roboto', sans-serif;
  color:white;
  border:1px solid white;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
}

.user-form select option {
  font-family: 'Roboto', sans-serif;

  color:black;
}

@media only screen and (max-width: 1600px) {
  .nav-links {
    width: 50%;
  }
}

@media only screen and (max-width: 1320px) {
  .options-container {
    width: 90%;
  }

  .contact-container {
    width:75%;
  }

  .start-now-container {
    width:75%;
  }
}
@media only screen and (max-width: 1120px){
  html, body {
    overflow-x: hidden;
  }

  .nav-brand {
    font-size: 24px;
  }

  .nav-links {
    border-radius:10px;
    position: absolute;
    right:0px;
    height: 30vh;
    top:10vh;
    background:#999;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-burger {
    display: block;
  }
}

@media only screen and (max-width: 1040px) {
  .options-container {
    margin-top:1vh;
    flex-direction: column;
    align-items: center;
    height:100%;
  }

  .option {
    margin: 20px 0 20px 0;
  }

  .contents {
    width:80%;
    flex-direction: column;
    align-items: center;
    margin-top: 90vh;
  }

  .content-container {
    width: 100%;
    margin-top: 2rem;
  }

  .contact-container {
    width:100%;
  }

  .start-now-container {
    width:100%;
  }

  .nav-active{
    transform: translateX(0%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3{
  transform: rotate(45deg) translate(-5px, -6px);
}
