{% extends 'layout.html' %}

{% block content %}

<div class="options-container">
  <div class="option">
    <p class="option-title">Standard Package</p>
    <p class="option-description">Long Term Trading</p>
    <hr class="option-row">
    <ul class="option-features">
      <li>1 to 1 support</li>
      <li>Quality over quantity</li>
      <li>9am - 5pm availability</li>
      <li>Cancel anytime</li>
    </ul>
    <hr class="option-row">
    <div class="option-price-container">
      <p class="option-price">£19.99</p>
    </div>
  </div>
  <div class="option">
    <p class="option-title">Platinum Package</p>
    <p class="option-description">Long & Short Term Trading</p>
    <hr class="option-row">
    <ul class="option-features">
      <li>1 to 1 support</li>
      <li>Quality over quantity</li>
      <li>9am - 5pm availability</li>
      <li>Cancel anytime</li>
    </ul>
    <hr class="option-row">
    <div class="option-price-container">
      <p class="option-price">£29.99</p>
    </div>
  </div>
  <div class="option">
    <p class="option-title">Full-Mentorship</p>
    <p class="option-description">Long & Short Term Trading</p>
    <hr class="option-row">
    <ul class="option-features">
      <li>1 to 1 support</li>
      <li>Quality over quantity</li>
      <li>24/7 availability</li>
      <li>Full mentorship</li>
      <li>Important notes, tips & tricks</li>
      <li>Cancel anytime</li>
    </ul>
    <hr class="option-row">
    <div class="option-price-container">
      <p class="option-price">£49.99</p>
    </div>
  </div>
</div>

<div class="contents">
  <div class="content-container">
    <p class="content-header">About us?</p>
    <p class="content-body">
      Here at Crypto Logistics we hold our clients interests at heart. We will always choose quality over quantity to ensure you get only the very best risk management
      and keep your capital safe.
    </p>
  </div>
  <div class="content-container">
    <p class="content-header">Why choose us?</p>
    <p class="content-body">
      Unlike other signal providers, we limit the number of clients on board at once time, so we can guarantee support for each of you 24/7.
      Each and every one of out signals are analysed completely by myself and my team to ensure the high probability of making a return, before we send them out.
      No experience is required!
    </p>
  </div>
</div>
{% endblock %}