<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="favicon" href="#">

  <title>Crypto Logistics</title>
</head>
<body>
  <div id="page-container">
    <div id="content-wrap" class="container">
    <nav>
      <h1 class="nav-brand">Crypto Logistics</h1>

      <div class="nav-links">
        <a href="{{ url_for('index') }}" class="nav-link">Home</a>
        <a href="{{ url_for('contact') }}" class="nav-link">Contact</a>
        <a href="{{ url_for('start_now') }}" class="nav-link">Start Now</a>
      </div>

      <div class="nav-burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </div>
    
    {% block content %} {% endblock %}

    <footer id="footer">
      <a href="/terms-and-conditions" class="footer-text">Terms & Conditions</a>
    </footer>
  </div>

  <script src="{{ url_for('static', filename='nav-burger.js') }}"></script>
</body>
</html>