{% extends 'layout.html' %}

{% block content %}
<p class="content-body" style="margin: 0 20px 0 20px">
  Copyright Reserved © 2021
  No investment advice provided. Any opinions, chats, messages, conversations, research, analysis, prices or other information contained on this website and provided by my team and I, are provided as general market information for educational and entertainment
  purposes only and do not constitute investment advice. The website should not be relied upon as a substitute for extensive independent market research before making you actual trading decisions. Opinions, market data, recommendations or any content
  is subject to change at any time without notice. Crypto-Logistics LTD will not accept liability for any loss or damage, including without limitation any loss of profit which may arise directly or indirectly from use of or reliance on such information.
  We do not recommend the use of technical analysis as a sole means of trading decisions. We do not recommend making hurried trading decisions. Information on out memberships is based on past performance.. You should always understand that past performance
  is not necessarily indicative of future results.
</p>

{% endblock %}